* {
	box-sizing: border-box;
}

body {
	background-color: #4897d8;
	font-family: 'Roboto Mono', monospace;
	font-size: 22px;
}

main, footer {
	max-width: 800px;
}

h1 {
	color: whitesmoke;
	font-size: 28px;
	margin-top: 40px;
}

p {
	color: white;
}

button.btn {
	background-color: white;
	color: black;
}

button.btn:hover {
	background-color: black;
	color: whitesmoke;
}

.twitter {
	margin-left: 25px;
	margin-top: 5px;
}

.js-color {
	background-color: #f8a055;
	color: white;
}

.quotes {
	font-size: 150px;
	line-height: 0.6em;
	opacity:0.2;
}

